/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* * {
  border: 1px solid red !important;
} */

.header-logo-market {
	text-align: center;
	padding-top: 30px;
	padding-left: 20px;
	font-family: karla;
	font-weight: bold;
	font-size: 35px;
}

.market-cart-button-container {
	margin-left: 50px;
}

.market-cart-button {
	height: 25px;
	fill: black;	
}

.store-main {
    /* margin-top: 44px; */
    /* height: 20vh; */
    /* height: 900px; */
    color: black;
	background-color: white;
	display: flex;
	flex-wrap: wrap;
}

.products {
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
	margin-left: 70px;
	margin-right: 70px;
}

.product-list {
	/* border: 1px solid black; */
	height: 240px;
	width: 240px;

	margin-top: 10px;
	margin-right: 15px;
	margin-bottom: 20px;
	margin-left: 10px;
	display: flex;
	/* position: relative; */
	justify-content: center;
}

.hover-link {
	text-decoration: none;
}

.hover-text {
	/* position: absolute; */
	margin-top: -150px;
	text-align: center;
	color: black;
}
.hover-title {
	font-family: karla;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
}
.hover-price {
	font-family: 'Open Sans';
	font-size: 15px;
	font-style: italic;
	padding-top: 5px;
	text-decoration: none;
}

.product-image {
	height: 240px;
	width: auto;
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}
.product-image:hover {
	opacity: 0.1;
}

/* .landing-middle {
    height: 20vh;
} */