/* * {
  border: 1px solid red !important;
} */

.total-price-container {
    /* border: 1px solid black; */
    width: 50%;
    /* text-align: left; */
    margin-left: 20%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    font-family: 'Open Sans';
}


.cart-productname {
    font-family: 'Open Sans'
}

.order-image-container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    align-items: center;
    text-align: center;
    font-family: karla;
}
.order-image {
    height: 120px;
    width: auto;
    display: inline-block;
    margin-left: 30vw;
}
.order-description-container {
    margin-left: 60px;
    margin-bottom: 20px;
}

.price-categories {
    text-align: left;
}

.price-values {
    text-align: right;
}

.bottom-line-container {
    padding: 20px;
    text-align: center;
}
.bottom-line {
    font-family: 'Open Sans';
    font-size: 30px;
}

.checkout-component {
    margin-left: 30%;
    margin-bottom: 40px;
}

@media(min-width: 550px) {
    .order-image {
        margin-left: 5px;
    }
	.cart-product-container {
		display: flex;
	}
	.order-description-container {
        margin-top: 25px;
        margin-left: 10px;
	}
	.order-image-container {
		width: 30%;
		/* height: auto; */
		/* margin-top: 5%; */
		display: inline-block;
		align-items: center;
		text-align: center;
		font-family: karla;
	}
}